.filter-container {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}

.dropdown-box {
  position: relative;
}

.dropdown-btn {
  padding: 10px 16px;
  background: #ffffff;
  border-radius: 16px;
  border: 1px solid #DCDDE5;
  cursor: pointer;
  font-size: 14px;
  color: #1A1446;
  transition: 0.15s;
}

.dropdown-btn:hover {
  border-color: #6A61FF;
}

.dropdown-menu {
  position: absolute;
  width: 150px;
  margin-top: 6px;
  background: #fff;
  border-radius: 14px;
  border: 1px solid #E5E6F0;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  padding: 6px 0;
  z-index: 20;
}

.dropdown-item {
  padding: 10px 16px;
  font-size: 14px;
  color: #1A1446;
  cursor: pointer;
  transition: 0.15s;
}

.dropdown-item:hover {
  background: #EFEFFD;
  color: #6A61FF;
}
