.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: var(--space-2);
}

.page-header-text {
  margin-bottom: var(--space-2);
}

.page-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--neutral-900);
  margin-bottom: var(--space-2);
}

.highlight-text {
  color: var(--primary-500);
}

.page-sub {
  font-size: 1rem;
  color: var(--neutral-500);
}